{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1>Сравнение телефонов</h1>
        </div>
    <table border="2">
    <tr>
    <th>Модель: </th>
        {% for phone in phones %}
        <td>
            {{ phone.model_name }}
        </td>
        {% endfor %}
    </tr>
    <tr>
    <th>Стоимость: </th>
        {% for phone in phones %}
        <td>
            {{ phone.price }}
        </td>
        {% endfor %}
    </tr>
    <tr>
    <th>Операционная система: </th>
        {% for phone in phones %}
        <td>
            {{ phone.op_sys }}
        </td>
        {% endfor %}
    </tr>
    <tr>
    <th>Оперативная память: </th>
        {% for phone in phones %}
        <td>
            {{ phone.ram }}
        </td>
        {% endfor %}
    </tr>
    <tr>
    <th>Число пикселей на дюйм: </th>
        {% for phone in phones %}
        <td>
            {{ phone.pixels_per_inch }}
        </td>
        {% endfor %}
    </tr>
    <tr>
    <th>Двойная камера: </th>
        {% for phone in phones %}
        <td>
            {{ phone.double_cam }}
        </td>
        {% endfor %}
    </tr>
    <tr>
    <th>Процессор: </th>
        {% for phone in phones %}
        <td>
            {{ phone.processor }}
        </td>
        {% endfor %}
    </tr>
    <tr>
    <th>Разрешение экрана: </th>
        {% for phone in phones %}
        <td>
            {{ phone.resolution }}
        </td>
        {% endfor %}
    </tr>
    <tr>
    <th>FM-Радио: </th>
        {% for phone in phones %}
        <td>
            {{ phone.fm_radio }}
        </td>
        {% endfor %}
    </tr>
    <tr>
    <th>Дополнительно: </th>
    {% for phone in phones %}
            {% if phone.model_name == "IphoneSE" %}
                <td>
                {% for info in apple %}
                    {{ info }}
                {% endfor %}
                </td>
            {% endif %}
            {% if phone.model_name == "Samsung Galaxy Note 8" %}
                <td>
                {% for info in samsung %}
                    {{ info }}
                {% endfor %}
                </td>
            {% endif %}
    {% endfor %}
         </tr>
    </table>
    </div>
{% endblock %}